body {
  background-color: rgb(133, 133, 133);
  font-size: 90%;
  vlink: blue;
  background: linear-gradient(
    90deg,
    rgb(0, 195, 255) 0%,
    rgb(0, 132, 219) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  margin:0px;
  background-size: 500% 500%;
  animation: animazione 10s ease-in-out infinite;
}
@keyframes animazione {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  color: black;
  font-size: 350%;
  text-align: center;
}
ul {
  color: white;
  display: table;
  margin: auto;
  font-size: 25px;
}
.link {
  text-decoration: none;
}
.Teoria {
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height:350px;
  border: solid 5px red;
  background-color: white;
}
.Laboratorio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  width:400px;
  height:350px;
  border: solid 5px red;
  background-color: white;
}
.Titolo {
  font-size: 25px;
  color: red;
  text-align: left;
}
.divisore {
  width: 20%;
  color: red;
}
.Bordo {
  width: 200px;
  height: 200px;
  border:solid 1px red;
}
.esercizio{ 
}
.Titolo-Pagina{
  color:red;
  font-family: 'Girassol', cursive;
}
.Sfondo-Titolo{
  background-color:rgb(209, 209, 209);
  margin:0px;
}
.sito{
  text-align: center;
  
}
a{
  text-decoration: none;
}
table {
border-collapse:collapse
}
td, th {
border:1px solid red;
padding:8px;
}
