body {
  background-color: rgb(133, 133, 133);
  font-size: 90%;
  vlink: blue;
  background: linear-gradient(
    90deg,
    rgb(255, 123, 0) 0%,
    rgb(255, 179, 0) 35%,
    rgb(255, 196, 0) 100%
  );
  margin:0px;
  background-size: 500% 500%;
  animation: animazione 10s ease-in-out infinite;
}
@keyframes animazione {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  color: black;
  font-size: 350%;
  text-align: center;
}
ul {
  color: white;
  display: table;
  margin: auto;
  font-size: 25px;
}
.link {
  text-decoration: none;
}
.Teoria {
  margin-left: auto;
  margin-right: auto;
  width:400px;
  height:350px;
  border: solid 5px black;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.Laboratorio {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  width:400px;
  height:350px;
  border: solid 5px black;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

}
.Titolo {
  font-size: 25px;
  color: black;
  text-align: left;
}
.divisore {
  width: 20%;
  height: 1.5px;
  background-color: black;
}
.Bordo {
  width: 200px;
  height: 200px;
  border:solid 1px black;
}
.esercizio{ 
  font-family: 'Playfair Display', serif;
}
.Titolo-Pagina{
  color:black;
  font-family: 'Playfair Display', serif;
}
.sito{
  text-align: center;
}
a{
  text-decoration: none;
}
table {
border-collapse:collapse
}
td, th {
border:2px solid black;
padding:8px;
}
